.wrapper {
  display: flex;
  width: 38%;
  color: #cccccc;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #1e1e1e;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  height: 200px;
  color: #cccccc;
  margin: 0px;
  border-radius: 10px;
  gap: 5px;
  padding: 15px;
  background-color: #1e1e1e;
}
.header,
.tags,
.cast,
.text,
.author {
  padding: 7px 10px;
  margin: 0;
}

.header,
.author {
  color: white;
  font-size: 20px;
}
.titles {
  display: flex;
}
.tags {
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.author {
  font-weight: bold;
}

.text {
  margin: 0;
}
.poster {
  width: 30%;
  height: 30%;

  color: #1e1e1e;
}
.textWrapper p {
  font-size: 12px;
}
.buttons {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 10%;
  /* border: 1px solid white; */
}
.editButton {
  background-color: #1e1e1e;
  padding: 10px 0px;
  border: none;
  color: white;
  height: 10%;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
}
.editButton:hover {
  color: #cccccc;
  cursor: pointer;
}
@media (max-width: 700px) {
  .wrapper {
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    padding: 10px;
  }
  .textWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 20px;
  }
  .poster {
    width: 100%;
  }
  .tags {
    font-size: 12px;
  }
  .titles {
    gap: 10px;
  }
  .header {
    font-size: 16px;
  }

  .tags p {
    font-weight: bold;
    font-size: 12px;
  }

  .header,
  .tags,
  .text,
  .cast,
  .author {
    padding: 0px 0px;
  }

  .buttons {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .editButton {
    background-color: white;
    padding: 10px 0px;
    border: none;
    color: #1e1e1e;
    height: 10%;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
  }
  .editButton:hover {
    color: #1e1e1e;
  }
}
