.wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.logo {
  color: white;
  text-decoration: none;
}

.links ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 20px;
  padding: 10px 40px;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
