.wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border: 1px solid white;
}

.links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 50px;
  padding: 10px 40px;
}

.link {
  color: white;
  font-size: 20px;
}
