.review {
  margin: 20px;
  display: flex;
  width: 30%;
  font-family: Tahoma, sans-serif;
  color: white;
}

.review form {
  background-color: #333333;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0px 40px;
  font-size: 20px;
}
.review input {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 7px;
  background-color: #333333;
  color: white;
}

.review input:focus {
  outline: 1px solid #007bff;
  border: none;
}
.review h5 {
  margin: 5px;
  color: #5c5858;
}

.searchBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}
.searchBar input {
  width: 70%;
}
.searchBar button {
  width: 30%;
  background-color: #007bff;
  border: none;
  color: white;
  height: 70%;
  font-size: 14px;
  border-radius: 10px;
}

.searchBar button:hover {
  background-color: #0056b3;

  cursor: pointer;
  transition: all ease-in 200ms;
}
.searchBar button:active {
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: all ease-in 200ms;
}

.searchResults {
  position: relative;
  height: 100px;
  left: 45px;
  width: 60%;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
  font-size: 13px;
  padding: 10px 20px;
  background-color: #333333;
  border-radius: 7px;
  margin: 0;
}
.searchResults li {
  padding-top: 10px;
}
.searchResults li:hover {
  font-weight: bold;
  cursor: pointer;
}
.noResults {
  padding: 10px;
}
.smallTitle {
  color: #5c5858;
  font-size: 14px;
}
.title h3 {
  color: #5c5858;
}
.inputsWrapper {
  display: flex;
}

.smallTitle input {
  border: none;
  background-color: #333333;
  color: #e5e5e5;
}
.review textarea {
  margin: 10px 40px;
  border: none;
  width: 80%;
  border-radius: 7px;
  font-size: large;
  padding: 10px;
  background-color: #333333;
  color: #e5e5e5;
}

.review textarea:focus {
  outline: 1px solid #007bff;
  border: none;
}
.reviewButton {
  background-color: #007bff;
  border: none;
  color: white;
  width: 50%;
  margin: auto;
  font-size: 18px;
  padding: 18px;
  border-radius: 10px;
}

.reviewButton:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.tags button {
  color: #e5e5e5;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 15px;
}

.tags button:hover {
  scale: 1.1;
  cursor: pointer;
}
.tags button:active {
  color: #ffd24d;
}
@media (max-width: 700px) {
  .review {
    width: 90%;
    flex-direction: column;
  }
  .title {
    padding: 0px 0px;
    font-size: 20px;
    text-align: center;
  }

  .searchResults {
    position: relative;
    height: 100px;
    left: 45px;
    width: 55%;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    font-size: 13px;
    padding: 10px 20px;
    text-align: left;
  }
  .inputsWrapper {
    flex-direction: column;
    margin: 0px;
    gap: 0px;
  }
  .inputsWrapper h4 {
    margin: 0px;
    gap: 0px;
  }
  .review textarea {
    margin: 10px 0px;
    border: none;
    width: 90%;
  }

  .reviewButton {
    border: none;
    color: white;
    width: 65%;
    margin: auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
  }

  .review h3 {
    margin: 5px;
    text-align: left;
    font-size: 15px;
  }
  .review span p {
    font-size: 15px;
    text-align: center;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
    margin: 10px 0;
  }
  .tags button {
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
  }
}
